<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.number.js")"></script>

    <style>
        body {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }
    </style>
    <title>Thanh toán đơn hàng qua Ví Bảo Kim</title>
</head>
<body>
    <div id="wrapper">
        @RenderBody()
    </div>
</body>
</html>